force-app/main/prod/flows/ACC_FL04_UpdateAccIDandTechAccID.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AddCDtoLoop</name>
        <label>AddCDtoLoop</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CDUpdate_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_CD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_CD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ParentAccounID</name>
        <label>Assign ParentAccounID</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>All_CD.Tech_AccountParentIdText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCDtoLoop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ACC_FL04_UpdateAccIDandTechAccID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_FL04_UpdateAccIDandTechAccID</label>
    <loops>
        <name>All_CD</name>
        <label>All CD</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Client_Data_related_to_the_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ParentAccounID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Client_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Data_related_to_the_Account</name>
        <label>Get Client Data related to the Account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_CD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClientData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Data</name>
        <label>Update Client Data</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>CDUpdate_collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Client_Data_related_to_the_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Acc_Related_ParID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CDUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientData__c</objectType>
    </variables>
    <variables>
        <name>CDUpdate_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientData__c</objectType>
    </variables>
    <variables>
        <name>CDUpdate_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientData__c</objectType>
    </variables>
</Flow>
