force-app/main/prod/flows/ACC_FL_CreateClientDataScreen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CheckRefCriteria</name>
        <label>CheckRefCriteria</label>
        <locationX>276</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Get_Sold_To_Partner_Functions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_one_Legal_Field</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3) OR (2 AND 3) OR ( 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Registration_In_Progress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unique_National_Identifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Without_Legal_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_In_Progress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unique_National_Identifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Without_Legal_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Identifier_Error</targetReference>
            </connector>
            <label>Only one Legal Field</label>
        </rules>
        <rules>
            <name>UNI_Incorrect_Format</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Unique_National_Identifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UNI_Length_check_9_char</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UNI_Length_check_14_char</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_review_the_Unique_National_Identifier_field</targetReference>
            </connector>
            <label>UNI Incorrect Format</label>
        </rules>
        <rules>
            <name>Different_Division</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklists.topValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Division</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Division.Profile.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e0Y0000013hulQAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Different_division</targetReference>
            </connector>
            <label>Different Division</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Bill_To</name>
        <label>Decision Bill To ?</label>
        <locationX>1237</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Is_Payer_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Bill_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bill_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Bill_To</targetReference>
            </connector>
            <label>Is Bill To</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicates_Management</name>
        <label>Duplicates Management</label>
        <locationX>749</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Create_Client_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Partner_Function</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sold_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bill_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ship_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Sold_To_already_exists</targetReference>
            </connector>
            <label>No Partner Function</label>
        </rules>
        <rules>
            <name>Client_Data_Duplicates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Data_Duplicates.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientDataDuplicateScreen</targetReference>
            </connector>
            <label>Client Data Duplicates</label>
        </rules>
        <rules>
            <name>Is_Sold_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sold_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sold_To_Partner_Functions.SouffletClient__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Data</targetReference>
            </connector>
            <label>Is Sold-To</label>
        </rules>
        <rules>
            <name>Cannot_be_Sold_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sold_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sold_To_Partner_Functions.SouffletClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Sold_To_already_exists</targetReference>
            </connector>
            <label>Cannot be Sold-To</label>
        </rules>
        <rules>
            <name>First_Payer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Duplicate_Referent_Client_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Data_First_Payer</targetReference>
            </connector>
            <label>First Payer ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Payer_Decision</name>
        <label>Is Payer Decision</label>
        <locationX>1478</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Payer1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payer</targetReference>
            </connector>
            <label>Is Payer?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sold_To_2</name>
        <label>Is Sold To 2</label>
        <locationX>976</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>IsShipTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sold_To_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sold_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sold_To</targetReference>
            </connector>
            <label>Is Sold To 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsShipTo</name>
        <label>Is Ship To</label>
        <locationX>1142</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Decision_Bill_To</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Ship_To3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ship_To</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ship_To</targetReference>
            </connector>
            <label>Is Ship To2</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DivisionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Division__c</picklistField>
        <picklistObject>ClientData__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetAccountChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetSiteChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Client_Soufflet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_RecordType__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121v000000aTL6AAM</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedSiteID2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>incotermlist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incoterm__c</picklistField>
        <picklistObject>ClientData__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Market_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Market__c</picklistField>
        <picklistObject>ClientData__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubMarket_field</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubMarket__c</picklistField>
        <picklistObject>ClientData__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UNI_Length_check_14_char</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Unique_National_Identifier}) = 14, true, false)</expression>
    </formulas>
    <formulas>
        <name>UNI_Length_check_9_char</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Unique_National_Identifier})=9, true, false)</expression>
    </formulas>
    <interviewLabel>ACC_FL_CreateClientDataScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_FL_CreateClientDataScreen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bill_To</name>
        <label>Create Bill-To</label>
        <locationX>1542</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Is_Payer_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ClientData__c</field>
            <value>
                <elementReference>Client_Data_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerFunction__c</field>
            <value>
                <stringValue>BILL-TO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SouffletClient__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerFunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Client_Data</name>
        <label>Create Client Data</label>
        <locationX>957</locationX>
        <locationY>457</locationY>
        <assignRecordIdToReference>Client_Data_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Sold_To_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Picklists.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>Picklists.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Client_Data_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationInProgress__c</field>
            <value>
                <elementReference>Registration_In_Progress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>SelectedSiteID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubMarket__c</field>
            <value>
                <elementReference>Picklists.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UniqueNationalIdentifier__c</field>
            <value>
                <elementReference>Unique_National_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WithoutLegalID__c</field>
            <value>
                <elementReference>Without_Legal_ID</elementReference>
            </value>
        </inputAssignments>
        <object>ClientData__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Client_Data_First_Payer</name>
        <label>Create Client Data First Payer</label>
        <locationX>761</locationX>
        <locationY>193</locationY>
        <assignRecordIdToReference>Client_Data_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Sold_To_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Picklists.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>Picklists.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Client_Data_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferentManagementSheet__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationInProgress__c</field>
            <value>
                <elementReference>Registration_In_Progress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>SelectedSiteID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubMarket__c</field>
            <value>
                <elementReference>Picklists.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UniqueNationalIdentifier__c</field>
            <value>
                <elementReference>Unique_National_Identifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WithoutLegalID__c</field>
            <value>
                <elementReference>Without_Legal_ID</elementReference>
            </value>
        </inputAssignments>
        <object>ClientData__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Payer</name>
        <label>Create Payer</label>
        <locationX>1707</locationX>
        <locationY>506</locationY>
        <inputAssignments>
            <field>ClientData__c</field>
            <value>
                <elementReference>Client_Data_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerFunction__c</field>
            <value>
                <stringValue>PAYER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SouffletClient__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerFunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Ship_To</name>
        <label>Create Ship-To</label>
        <locationX>1381</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Decision_Bill_To</targetReference>
        </connector>
        <inputAssignments>
            <field>ClientData__c</field>
            <value>
                <elementReference>Client_Data_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerFunction__c</field>
            <value>
                <stringValue>SHIP-TO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SouffletClient__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerFunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sold_To</name>
        <label>Create Sold To</label>
        <locationX>928</locationX>
        <locationY>87</locationY>
        <connector>
            <targetReference>IsShipTo</targetReference>
        </connector>
        <inputAssignments>
            <field>ClientData__c</field>
            <value>
                <elementReference>Client_Data_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerFunction__c</field>
            <value>
                <stringValue>SOLD-TO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SouffletClient__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerFunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Data_Duplicates</name>
        <label>Get Client Data Duplicates</label>
        <locationX>636</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicates_Management</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSiteID2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklists.topValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClientData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_Referent_Client_Data</name>
        <label>Get Duplicate Referent Client Data</label>
        <locationX>514</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Data_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferentManagementSheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklists.topValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClientData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sold_To_Partner_Functions</name>
        <label>Get Sold-To Partner Functions</label>
        <locationX>383</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Referent_Client_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SouffletClient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerFunction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOLD-TO</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ClientDataDivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklists.topValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerFunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Division</name>
        <label>Get_User_Division</label>
        <locationX>207</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_new_Client_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>401</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ClientDataDuplicateScreen</name>
        <label>ClientDataDuplicateScreen</label>
        <locationX>925</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Client_Data</targetReference>
        </connector>
        <fields>
            <name>ClientDataDuplicateText</name>
            <fieldText>&lt;p&gt;There is already &lt;a href=&quot;{!$Label.FA_OrgUrl}/{!Get_Duplicate_Referent_Client_Data.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(65, 112, 231);&quot;&gt;another Client Data with the same Account, the same address and the same Division&lt;/a&gt;. Please make sure that the existing Client &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Data does not correspond to your needs before creating a duplicate one.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_a_new_Client_Data</name>
        <label>Create a new Client Data</label>
        <locationX>208</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckRefCriteria</targetReference>
        </connector>
        <fields>
            <name>Client_Data_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>&lt;This field is populated Automatically&gt;</stringValue>
            </defaultValue>
            <fieldText>Client Data Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_a_new_Client_Data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_a_new_Client_Data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <choiceReferences>GetAccountChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sold_To</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Sold-To</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payer</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Payer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_a_new_Client_Data_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SiteLookup</name>
                    <choiceReferences>GetSiteChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Site</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Ship_To</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Ship-To</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Bill_To</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Bill-To</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Picklists</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>ClientData__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Division__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Market__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>SubMarket__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Division</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Sub Market</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Market</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>SubMarket_field</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Market_picklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>DivisionPicklist</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_a_new_Client_Data_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_a_new_Client_Data_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unique_National_Identifier</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetAccount.Numero_Legal__c</elementReference>
                    </defaultValue>
                    <fieldText>Unique National Identifier</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_a_new_Client_Data_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_a_new_Client_Data_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Registration_In_Progress</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>GetAccount.EnCoursImmatriculation__c</elementReference>
                    </defaultValue>
                    <fieldText>Registration In Progress</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_a_new_Client_Data_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Without_Legal_ID</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>GetAccount.SansIdentifiant__c</elementReference>
                    </defaultValue>
                    <fieldText>Without Legal ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Sold_To_already_exists</name>
        <label>Error Sold-To already exists</label>
        <locationX>555</locationX>
        <locationY>751</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LinkToDuplicate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;There is already a Client Data flagged as &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;sold-to &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;attached to this account within the selected division.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Please consider using&lt;/span&gt;&lt;a href=&quot;{!$Label.FA_OrgUrl}/{!Get_Duplicate_Referent_Client_Data.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/a&gt;&lt;a href=&quot;{!$Label.FA_OrgUrl}/{!Get_Duplicate_Referent_Client_Data.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;the existing Sold-To Client Data&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; or check the validity of its sold-to partner function.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cannot_be_Sold_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_Partner_Function_are_ticked</name>
            <fieldText>&lt;p&gt;A Client Data can not be created without any &lt;b&gt;Partner Function&lt;/b&gt; attached. Please select at least one Partner Function. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Bill_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Payer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ship_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sold_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Legal_Identifier_Error</name>
        <label>Legal Identifier Error</label>
        <locationX>133</locationX>
        <locationY>831</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Please complete the &quot;Unique National Identifier&quot; field or check either &quot;Without Legal ID&quot; or &quot;Registration in Progress&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Unique_National_Identifier</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Without_Legal_ID</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Registration_In_Progress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Message1</name>
            <fieldText>&lt;p&gt;&quot;Without Legal ID&quot; and &quot;Registration in Progress&quot; cannot be ticked at the same time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Without_Legal_ID</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Registration_In_Progress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Message2</name>
            <fieldText>&lt;p&gt;You ticked &quot;Registration in Progress&quot;, please empty the &quot;Unique National Identifier&quot; field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Registration_In_Progress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Unique_National_Identifier</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Message3</name>
            <fieldText>&lt;p&gt;You ticked &quot;Without Legal ID&quot;, please empty the &quot;Unique National Identifier&quot; field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Without_Legal_ID</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Unique_National_Identifier</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Different_division</name>
        <label>No Different division</label>
        <locationX>424</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>hasDifferentDivision</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You cannot create a client data with a division different from yours. Please pick the division accordingly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Picklists.topValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Get_User_Division.Division</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_User_Division.Profile.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>00e0Y0000013hulQAA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_review_the_Unique_National_Identifier_field</name>
        <label>Please review the &apos;Unique National Identifier&apos; field</label>
        <locationX>283</locationX>
        <locationY>834</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UNI_wrong_format</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please review the &apos;Unique National Identifier&apos; field.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;If the Account « Country » Field is equal to ‘FR’, ‘RE’, ‘GP’, ‘MQ’, ‘GF’ ou ‘YT’ then the &apos;Unique National Identifier Field has to be numerical (SIRET format 14 figures).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Client_Data_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientData_Stored_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Division2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Division_Choice_draft1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Division_Choice_Draft2</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Division_picklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Market</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedSiteID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoredContextAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
